{% extends 'base.html' %}
{% load static %}



{% block custom_css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/feed_styles.css' %}">
{% endblock %}

{% block content %}
<title>ShopHot | Feed</title>
<body>
	
	
	
	<p class="title">View All Lastest Product Posts Here!</p>
	
	<div class="row">
      <div class="my_posts">
         <div class="post">
	{% for entry in post reversed %}
   <div class="card">
                  
                  <h5 class="card-header"><img src="{% static 'img/user_icon.png' %}" class="user_icon">{{entry.fname}} {{entry.lname}}  Posted on: {{entry.post_date}}</h5>
                  
                  <div class="card-body">
                     <h5 class="card-title">User: <b style="color: blue">@{{entry.user}}</b></h5>
                     <h5 class="card-title">Product: <b>{{entry.product_name}}</b></h5>
                     <p class="card-text">Price: <b>{{entry.product_price}}</b></p>
                     <p class="card-text">Seller: <b>{{entry.product_store}}</b></p>
                     <p class="card-text" id="comm">Buyer Comments:</p>
                     <p class="comment">{{entry.comment}}</p>
                     <a href="https://{{entry.product_link}}" class="btn btn-primary">View Product</a>
                  </div>
               </div>
	{% endfor %}
</div>
</div>
</div>

   </body>
	


{% endblock %}
