
{% extends 'base.html' %}
{% load static %}
	{% block custom_css%}
		<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	{% endblock %}

{%block content%}
<title>ShopHot | Home</title>
<h1>Welcome to ShopHot!</h1>
	<h2>Get Started By Logging in Below</h2>

	<form action="" method="POST">
		{% csrf_token %}
		<div class="entry">
			<div class="user">
				<p class="user_name">User Name:</p>
	            <input type="text" name="username" placeholder="user_name">
	        </div>
	        <div class="password">
				<p class="user_pass">Password:</p>
	            <input type="password" name="password" placeholder="password">
	        </div>
	        <div class="submit">
	            <input type="submit" name="POST!" value="LOGIN" class="login">
	        </div>
	        <div class=sign_up>
	            <a class="join_button" href="http://127.0.0.1:8000/new_account">Create Account</a> 
	            <a class="forgot_button" href="">Forgot Password</a>
	        </div>
        </div>




	</form>

{% endblock %}
