{% extends 'base.html' %}
{% load static %}
{% block custom_css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/account_create.css' %}">
{% endblock %}

{%block content%}
<title>ShopHot | NewAccount</title>
<h1>Create an account with ShopHot</h1>
<p class="user_exists">{{ user_exists }}</p>
<p class="warn">{{ fill_in }}</p>
	<form action="" method="post">
		{% csrf_token %}
		<div class="entry">
			<div class="fname">
				<p class="firstname">First Name:</p>
	            <input type="text" name="fname" placeholder="first name">
	        </div>
	        <div class="lname">
				<p class="lastname">Last Name:</p>
	            <input type="text" name="lname" placeholder="last name">
	        </div>
			<div class="user">
				<p class="user_name">Create a User Name:</p>
	            <input type="text" name="username" placeholder="user_name">
	        </div>
	        <div class="email">
				<p class="user_email">Enter your Email address:</p>
	            <input type="text" name="email" placeholder="jondoe@gmail.com">
	        </div>
	        <div class="password">
				<p class="user_pass">Create a password:</p>
	            <input type="text" name="password" placeholder="password">
	        </div>
	        <div class="submit">
	            <input type="submit" name="POST!" value="Create Account" class="create">
	        </div>
        </div>




	</form>
	<div></div>

{% endblock %}