body {
	text-align: center;
	background-color: white;
}

.title {
	padding-top: 50px;
	padding-bottom: 50px;
	text-decoration: underline;
	font-size: 2em;
	font-family: sans-serif;
}
form {
	text-align: center;
	width: 50%;
	margin: auto;
	text-align: center;
	border: 1px solid #111;
	
	border-radius: 15px;		
	background-color: #E8E8E8;
	margin-bottom: 300px;
}
p {
	padding-top: 20px;
}
input {
	width: 50%;
}

.post_button {
	padding-bottom: 20px;
	padding-top: 20px;
}
